.nav{
  background: none;
}


.top-social-media{
  height: 30px;
  justify-content: flex-end;
}

.icons-container{
  justify-content: space-between;
  width: 100px;
  align-items: center;
  margin-right: 3%;
}

h1{
  font-family: "Cocogoose Pro", sans-serif;
}

h2{
  font-family: "Cocogoose Pro Light", sans-serif;
  font-size: 20px;
  color: white;
}

h3{
  font-family: "Cocogoose Pro Light", sans-serif;
  font-size: 18px;
}

body{
  font-family: "Lato", sans-serif;
  min-width: 320px;
}

.navbar-collapse{
  padding: 10px;
  border-radius: 10px;
}


.header-container{
  background:  url("../images/neural.png") no-repeat center;
  background-size: cover;

}



.n-element{
  padding: 20px;
  color: black;
}

.n-element:hover{
  color: #ec5242;
  text-decoration: none;
}

.subtitle{
  font-family: "Cocogoose Pro Light", sans-serif;
  font-weight: 700;
  font-size: 25px;

}

.info,
.location{
  padding: 10px;
  border-radius: 5px;
  background: #fff;
  margin: 20px 20px 0px 20px;
  color: black;
}

.location{
  margin-top: 5px;
  flex-direction: column;
}

.location-info{
  color: #666;
  margin: 5px 0px;
}

.info-text{
  margin-bottom: 10px;
}

.header-text-container{
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.alpha{
  background: linear-gradient( 180deg, rgba(255, 255, 255, 0.99), rgba(200, 200, 200, 0.85));
  height: 100vh;
  width: 100%;
  padding-bottom: 20px;
}

.program-container{

}

.bar{
  margin-top: 5px;
  height: 3px;
  width: 50px;
}

.program-container,
.speakers-container,
.partners-container{
  flex-direction: column;
  align-items: center;
  padding: 20px;

}

.p-inner{
  background-color: rgba(255, 255, 255, 0.15);
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin-top: 15px;

}

.intel{
  padding: 30px;
}

.tf{
  padding: 20px;
}

.nv{
  padding: 3.5vh 0px;
}

.gg{
  padding: 2vh 0px;
}

.p-element-title{
  margin: 0px 10px;
}

.p-elements-container{
  width: 100%;
}

.speakers-title{
  color: black;
}

.image-container{
  box-sizing: border-box;
  min-width: 140px;
  height: 140px;
  position: relative;

}

.top-img{
  width: 120px;
  height: 120px;
  position: absolute;
  bottom: 0px;
  right:  0px;
}

.back-img{
  width: 60px;
  height: 60px;
  position: absolute;
  left:  0px;
  top: 0;
}

.info-container{
  flex-direction: column;
  width: 100%;
  margin-left: 20px;
}

.speaker{
  justify-content: space-between;
  width: 100%;
  position: relative;
  margin-top: 20px;

}

.speaker-name{
  font-family: 'Cocogoose Pro Ligh', sans-serif;
  color: black;
  font-size:  20px;
  margin-top: 20px
}


.conference-info{
  font-family: "Lato". sans-serif;
  font-style: italic;
  font-size: 14px;
}

.conference-bar{
  margin: 10px 0px;
  height: 2px;
  width: 50px;
}

.speaker-info{
  font-family: "Lato". sans-serif;
  font-size: 14px;
}

.partners-images{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.partner-img{
  width: 50%;
  height: 50;
}

footer{
  justify-content: space-around;
  padding: 30px;
}

.main-logo {
  color: black;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 900;
}

.main-logo:hover{
  color: #d3d3d3;

}

.copyrigth{
  font-size: 13px;
  font-family: "Lato", sans-serif;
  font-style: italic;
}

/* Media query */

@media (max-width: 768px) {

}


@media (min-width: 768px) {


  h1{
    font-size: 48px;
  }
  .subtitle{
    font-size: 60px;
  }
  .header-text-container{
    align-items: flex-start;
    align-content: space-between;

  }

  .info,
  .location{
    max-width: 500px;
  }

  .nav-item{
    display: inline;
  }

  .p-inner{
    flex-direction: column;
    padding: 15px;
    margin: 0px 5px;
  }

  .p-element{
    padding: 0px;
  }

  .p-elements-container{
    margin-top: 20px;
  }

  .speakers-grid{
    width: 100%;
  }
   .prog-title{

    flex-direction: column;
    align-items: center;
   }

}

/* Helper Classes*/

.l-gray{
  background: #d3d3d3;
  color: #272a31;
}
.orange{
  background: #ec5242;
  color: white;
}
.d-gray{
  background: #272a31;
  color: #d3d3d3;
}

.font-orange{
  color: #ec5242;
}

.font-d-gray{
  color: #272a31;
}

.font-l-gray{
  color: #d3d3d3;
}

.flex{ display: flex;}

/* Fonts */
@font-face {
  font-family: "Cocogoose Pro Italic";
  src: url('../fonts/Cocogoose Pro Italic-trial.ttf')  format('truetype');
}
@font-face {
  font-family: "Cocogoose Pro Light Italic";
  src: url('../fonts/Cocogoose Pro Light Italic-trial-trial.ttf')  format('truetype');
}
@font-face {
  font-family: "Cocogoose Pro Light";
  src: url('../fonts/Cocogoose Pro Light-trial.ttf')  format('truetype');
}
@font-face {
  font-family: "Cocogoose Pro Semilight Italic";
  src: url('../fonts/Cocogoose Pro Semilight Italic-trial.ttf')  format('truetype');
}
@font-face {
  font-family: "Cocogoose Pro Semilight";
  src: url('../fonts/Cocogoose Pro Semilight-trial.ttf')  format('truetype');
}
@font-face {
  font-family: "Cocogoose Pro Thin Italic";
  src: url('../fonts/Cocogoose Pro Thin Italic-trial.ttf')  format('truetype');
}
@font-face {
  font-family: "Cocogoose Pro Thin";
  src: url('../fonts/Cocogoose Pro Thin-trial.ttf')  format('truetype');
}
@font-face {
  font-family: "Cocogoose Pro UltraLight Italic";
  src: url('../fonts/Cocogoose Pro UltraLight Italic-trial.ttf')  format('truetype');
}
@font-face {
  font-family: "Cocogoose Pro Ultralight";
  src: url('../fonts/Cocogoose Pro Ultralight-trial.ttf')  format('truetype');
}
@font-face {
  font-family: "Cocogoose Pro";
  src: url('../fonts/Cocogoose Pro-trial.ttf')  format('truetype');
}
